// глобальные стили ======================================/
body {
  font-family: $fontFamily;
  font-weight: 400;
  height: 100%;
}

//Оболочка =============================================/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

//Контейнер ============================================/
.container {
  max-width: $maxWidth;
  margin: 0 auto;
  width: 100%;
  padding: 0rem 1.5rem;
}

// =====================================================/
