//Шрифт по умолчанию  ==================================/
$fontFamily: "Roboto", sans-serif;

// Контейнер ===========================================/
$minWidth: 32rem;
$maxWidth: 118rem;
$lockWidth: 76.8rem;
